:root {
  --link-color: #964b4b;
  --primary-color: #5d9a9c;
  --shadow-color: #86abad;
  --hover-color: #897070;
  --hover-shadow-color: #a19191;
  --text-color: #427576;
}
body {
  background-image: url("images/rome2.png");
  background-size: 1750px;
  margin: auto;
}

h1 {
  color: var(--primary-color);
  font-family: "Playball", cursive;
  font-size: 90px;
  margin: 130px 30px 70px;
  text-align: center;
}
h4 {
  color: var(--text-color);
  font-family: "Playball", cursive;
  font-size: 30px;
  line-height: 1;
  margin: 10px 50px 10px;
  text-align: center;
}
.author {
  color: var(--text-color);
  font-family: "Playfair Display", serif;
  font-size: 20px;
  margin-bottom: 30px;
  opacity: 0.7;
  text-align: center;
}
.pictures {
  height: auto;
  margin-bottom: 30px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.north,
.south {
  border-radius: 4px;
  box-shadow: 1px 1px 6px var(--shadow-color);
  color: var(--primary-color);
  font-family: "Playball", cursive;
  font-size: 30px;
  margin: 30px;
  padding: 30px 60px;
  text-decoration: none;
}
.homepage {
  border-radius: 4px;
  box-shadow: 1px 1px 6px var(--shadow-color);
  color: var(--primary-color);
  font-family: "Playball", cursive;
  font-size: 30px;
  margin: 30px;
  padding: 30px 70px;
  text-decoration: none;
}
.central {
  border-radius: 4px;
  box-shadow: 1px 1px 6px var(--shadow-color);
  color: var(--primary-color);
  font-family: "Playball", cursive;
  font-size: 30px;
  margin: 30px;
  padding: 30px 50px;
  text-decoration: none;
}
.north:hover,
.south:hover,
.homepage:hover,
.central:hover {
  color: var(--hover-color);
  box-shadow: 1px 1px 8px var(--hover-shadow-color);
}
.description {
  color: var(--text-color);
  font-family: "Playfair Display", serif;
  font-size: 18px;
  margin-bottom: 50px;
}
h3 {
  color: var(--primary-color);
  font-family: "Playball", cursive;
  font-size: 50px;
  margin-bottom: 80px;
  text-align: center;
}
footer {
  margin-top: 50px;
}
.link,
.source {
  color: var(--link-color);
  text-decoration: none;
}
.link:hover,
.source:hover {
  color: var(--hover-color);
}
small {
  color: var(--text-color);
  display: block;
  text-align: center;
}
@media (max-width: 600px) {
  body {
    border: 4px solid var(--primary-color);
    margin: auto;
  }
  h1 {
    font-size: 45px;
    margin: 50px 30px;
  }
  h3 {
    font-size: 35px;
    margin: -5px 10px 40px;
  }
  h4 {
    font-size: 22px;
    line-height: 1;
    margin: 10px;
  }
  .pictures {
    margin: 30px 70px;
  }
  ul {
    margin-right: 30px;
  }
  .north,
  .south {
    font-size: 30px;
    padding: 10px 15px;
    margin: 10px;
  }
  .central {
    font-size: 30px;
    padding: 10px;
    margin: 5px;
  }
  .homepage {
    font-size: 30px;
    padding: 10px 25px;
    margin: 7px;
  }
}
